body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select {
    max-width: 280px;
}

textarea {
    max-width: 100%;
}

.moduleTitle h2 {
    width: 90%;
    float: left
}
.moduleTitle div {
    width: 10%;
    float: right;
    height: 33px;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: right;
}
